<!-- start card car 1 -->
<div class="col-4">
  <a href="#" class="card card_product">
    <div class="hinhanh-card">
      <img
        class="default-img"
        src="https://cmu-cdn.vinfast.vn/2023/05/6d1cf0ee-img_3894giainhatmvm-1536x1024.jpg"
        alt="no"
      />
      <img
        class="hover-img"
        src="https://via.placeholder.com/550x750"
        alt="#"
      />
    </div>

    <div id="tieude-card">🚘Mercedes E200 Model 2020 siêu lướt .</div>
    <div class="thongtinxe-card">
      <div class="doixe_thongtinxe-card thongtinxe-card_chung">
        <img src="../IMAGE/icon_card_nam.svg" alt="" />
        <div id="doixe_thongtinxe-card"></div>
        2023
      </div>
      <div class="thongtinxe-card_chung">
        <img src="../IMAGE/icon_card_xemoi.svg" alt="" />
        <div id="hinhthuc_thongtinxe-card"></div>
        Xe mới
      </div>
      <div class="thongtinxe-card_chung">
        <img src="../IMAGE/icon_card_xang.svg" alt="" />
        <div id="nhienlieu_thongtinxe-card">Xăng</div>
      </div>
      <div class="thongtinxe-card_chung">
        <img src="../IMAGE/icon_card_tudong.svg" alt="" />
        <div id="hopso_thongtinxe-card">Tự động</div>
      </div>
    </div>
    <div id="giaxe-card">1 tỷ 289 triệu</div>

    <div class="chucnang-card">
      <div class="row">
        <div class="col">
          <button type="submit" class="chucnang-card_themgiohang">
            Thêm giỏ hàng
          </button>
        </div>
        <div class="col">
          <button type="submit" class="chucnang-card_muangay">Mua ngay</button>
        </div>
      </div>
    </div>
  </a>
</div>
