.phien-ban,
.mau-ngoai-that,
.mau-noi-that {
  margin-bottom: 5px;
  border-radius: 8px;
  position: relative;
}
.phien-ban {
  /* border: 2px solid #afc9f0; */
}

.mau-ngoai-that {
  border-radius: 0px;
  width: 50%;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  border: 4px solid #f5f5f5;
}
.khung-mau-noi-that {
  display: flex;
  flex-wrap: wrap;
}
.mau-noi-that {
  border-top: 3px solid #dfdfdf;
  width: 100%;
  padding: 4px;
  border-radius: 0px;
}

.remove-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}

button.ant-btn.ant-btn-danger {
  border-color: #ff4d4f;
  color: #ff4d4f;
}

button.ant-btn.ant-btn-danger:hover {
  background-color: #ff7875;
  border-color: #ff7875;
  color: #ffffff;
}

button.ant-btn.ant-btn-danger:focus {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

button.ant-btn.ant-btn-danger:active {
  background-color: #d9363e;
  border-color: #d9363e;
}

.header-phienban {
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
}
.header-maungoaithat {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
.header-maunoithat {
  font-size: 14px;
  font-weight: 500;
}
.khungmaungoaithat {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.btn-themmaungoaithat {
  width: 100%;
  display: flex;
  justify-content: center;
}
.phien-ban .ant-form-item {
  margin-bottom: 15px;
}

.khung-btn_xacnhan,
.khung-btn-suamodel {
  width: 100%;
  display: flex;
  justify-content: center;
}
.khung-btn-suamodel button {
  padding: 5px 10px;
}
