.card_car {
  padding-bottom: 10px;
  padding-top: 10px;
}
.card_product {
  width: 100%;
  height: auto;
  border: 1px rgba(52, 52, 52, 0.238) solid;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.card_product:hover {
  box-shadow: 0 0 20px rgba(142, 142, 142, 0.381);
}

.hinhanh-card {
  width: 100%;
  height: 190px;
  overflow: hidden;
}

.card_product:hover {
  transform: scale(1.02);
}
.default-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tieude-card {
  line-height: 20px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(49, 64, 111);
  white-space: normal;
}
.thongtinxe-card {
  width: 100%;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  color: rgb(49, 64, 111);
  font-size: 13px;
  font-weight: 600;
}
.thongtinxe-card_chung {
  padding-left: 5px;
  width: 50%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.giaxe-card {
  font-size: 20px;
  color: rgb(239, 76, 73);
  font-weight: 700;
  /* margin: 0px 0px 5px 15px; */
  margin: 15px;
}

.card_product:hover .chucnang-card .row {
  height: 24px;
}

.chucnang-card {
  /* display: none; */
  position: relative;

  height: 24px;
}
.chucnang-card .row {
  position: absolute;
  width: 100%;
  height: 0px;
  overflow: hidden;
  left: 12px;
  transition: all 0.4s ease;
}
.chucnang-card .col {
  padding: 0;
  margin: 0;
}
.chucnang-card_themgiohang,
.chucnang-card_muangay {
  font-size: 14px;
  font-weight: 550;
  color: rgb(56, 56, 56);
  width: 100%;
  height: 24px;
  border: 0px;
  background-color: #fff;
}
.chucnang-card_themgiohang {
  border-right: 1px solid rgba(74, 74, 74, 0.681);
}

.chucnang-card_themgiohang:hover,
.chucnang-card_muangay:hover {
  background-color: rgb(242, 134, 59);
  color: #ffff;
}
