.box-sum {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.box-all {
  display: flex;
  align-items: center;
  gap: 0 3px;
}
.box-all button {
  width: 50px;
  font-size: 15px;
  font-weight: 500;
  height: 25px;
}

.active-page {
  background-color: rgb(68, 128, 239);
  color: #fff;
  border: 0px;
}
