<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <link rel="stylesheet" href="../GLOBAL/reset.css">
    <link rel="stylesheet" href="../GLOBAL/reponsive.css">
    
    <link rel="stylesheet" href="../USER-CSS/Index.css">
    <link rel="stylesheet" href="/USER-CSS/Login_Singup.css">

</head>
<body  ng-app="WebBanXe" ng-controller="User_Index">

    <!-- đây là đầu trang -->
    <header  >
        <div class="header-logo"><img src="../IMAGE/logo-carmudi.webp" alt=""></div>

 
            <ul class="menus">
                <li><a href="#">Mua xe</a></li>
                <li><a href="#">Bán xe</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Diễn đàn</a></li>
                
            </ul>


        <div class="header-userTask">
                <div class="userTask-btn_postNews">
                    <button >
                        Đăng tin</button>
                </div>

                <div class="userTask-btn_login">
                    <button ng-click="btn_login_Singup(1)">Đăng nhập</button>
                </div>
                

                <div class="userTask-btn_register">
                    <button ng-click="btn_login_Singup(2)">Đăng ký</button>
                </div>
            
            
        </div>
    </header >

    <!-- Đây là thân trang -->
        <div class="container">
            <div ng-include="Login_Singup" ng-controller="User_Login_Singup"></div>
        </div>
  

    <!-- đây là cuối trang -->
    <footer>

    </footer>

    <script src="/GLOBAL/angular.js"></script>
    <script src="/USER-JS/Index.js"></script>
    <script src="/USER-JS/Login_Singup.js"></script>

</body>
</html>
