<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />

    <link rel="stylesheet" href="CardCategory.css" />
  </head>

  <body style="background-color: #a2a2a2">
    <header>
      <!-- place navbar here -->
    </header>
    <main style="width: 80%; margin: 30px auto; background-color: #ffffff">
      <!-- Start Category -->
      <div class="Category">
        <div class="category-cards">
          <!-- category card 1 -->
          <div class="category-card">
            <div class="img-cate">
              <img src="/IMAGE/logo_vinfast.png" alt="" />
            </div>
            <div class="name-category">1</div>
          </div>
          <!-- end card -->

          <!-- category card 1 -->
          <div class="category-card">
            <div class="img-cate">
              <img src="/IMAGE/logo_vinfast.png" alt="" />
            </div>
            <div class="name-category">2</div>
          </div>
          <!-- end card -->
          <!-- category card 1 -->
          <div class="category-card">
            <div class="img-cate">
              <img src="/IMAGE/logo_vinfast.png" alt="" />
            </div>
            <div class="name-category">3</div>
          </div>
          <!-- end card -->
          <!-- category card 1 -->
          <div class="category-card">
            <div class="img-cate">
              <img src="/IMAGE/logo_vinfast.png" alt="" />
            </div>
            <div class="name-category">4</div>
          </div>
          <!-- end card -->
          <!-- category card 1 -->
          <div class="category-card">
            <div class="img-cate">
              <img src="/IMAGE/logo_vinfast.png" alt="" />
            </div>
            <div class="name-category">5</div>
          </div>
          <!-- end card -->
          <!-- category card 1 -->
          <div class="category-card">
            <div class="img-cate">
              <img src="/IMAGE/logo_vinfast.png" alt="" />
            </div>
            <div class="name-category">6</div>
          </div>
          <!-- end card -->
          <!-- category card 1 -->
          <div class="category-card">
            <div class="img-cate">
              <img src="/IMAGE/logo_vinfast.png" alt="" />
            </div>
            <div class="name-category">7</div>
          </div>
          <!-- end card -->
          <!-- category card 1 -->
          <div class="category-card">
            <div class="img-cate">
              <img src="/IMAGE/logo_vinfast.png" alt="" />
            </div>
            <div class="name-category">8</div>
          </div>
          <!-- end card -->
          <!-- category card 1 -->
          <div class="category-card">
            <div class="img-cate">
              <img src="/IMAGE/logo_vinfast.png" alt="" />
            </div>
            <div class="name-category">9</div>
          </div>
          <!-- end card -->
          <!-- category card 1 -->
          <div class="category-card">
            <div class="img-cate">
              <img src="/IMAGE/logo_vinfast.png" alt="" />
            </div>
            <div class="name-category">10</div>
          </div>
          <!-- end card -->
        </div>
      </div>
      
    </main>
    <footer></footer>

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>

    <script type="text/javascript" src="CardCategory.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
