.shopping-cart {
  background-color: #fff;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 80px;
  position: relative;
}

th {
  font-weight: 600;
  text-align: center;
}
td {
}
.thongtinsanpham {
  margin-top: -30px;
}
.khung-img-cart {
  height: 100px;
  width: 100px;
}

.img-cart {
  width: 100%;
  height: 100%;
}
/* Ẩn các nút tăng giảm mặc định của input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.inp-soluong {
  width: 100px;
  display: flex;
  border: 0.5px solid rgb(119, 119, 119);
}

.decrease-btn,
.increase-btn {
  border: 0;
  width: 30%;
  height: 35px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.decrease-btn:hover,
.increase-btn:hover {
  color: #4366ff;
}

.quantity-input {
  border: none;
  outline: none;
  width: 40%;
  height: 35px;
  text-align: center;
}

.quantity-input:focus {
  box-shadow: none; /* Loại bỏ hiệu ứng shadow focus */
}

.total-amount {
  background-color: #fff;
  border-top: 0.5px solid rgb(147, 147, 147);
  position: sticky;
  bottom: 0;
  display: flex;
  padding: 10px 40px;
  align-items: center;
  gap: 7px;
  font-size: 18px;
  justify-content: end;
  font-weight: 600;
}
.total-giatien {
  font-weight: 700;
  font-size: 20px;
  color: rgb(239, 76, 73);
}
.btn-thanhtoan {
  border: 0;
  background-color: rgb(50, 120, 246);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
}
.btn-thanhtoan:hover {
  background-color: rgb(24, 70, 155);
}

.btn-xoatat,
.btn-xoa {
  border: 0;
  background-color: #fff;
  color: rgb(87, 87, 87);
}
.btn-xoatat:hover,
.btn-xoa:hover {
  color: rgb(248, 63, 63);
}

.giatien {
  display: flex;
  gap: 5px;
  align-items: center;
}
.vat {
  font-size: 13px;
  font-weight: 600;
  color: rgb(68, 67, 67);
}

.total-thongtin {
  margin-right: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-direction: column;
}

.thongtin-title {
  font-size: 16px;
  font-weight: 600;
}
