body {
  width: 100%;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: rgb(30, 33, 50);
  height: 100%;
}

/* start header */
header {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  height: 70px;
  gap: 0 15px;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 0 10px rgba(126, 126, 126, 0.284);
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
  white-space: nowrap;
}

.header-logo {
  width: 10%;
}
.header-logo img {
  width: 100%;
}

.hearder-menu_items {
  width: 60%;
  display: flex;
  gap: 0 10px;
  height: 100%;
  align-items: center;
}

.menu-item {
  position: relative;
  border-radius: 5px;
  padding: 30px 15px;
  font-size: 16px;
}
.menu-item:hover {
  background-color: #d7d7d77d;
}
.menu-item:hover > .submenu {
  display: flex;
}
.submenu {
  min-width: 120px;
  gap: 30px;
  position: absolute;
  background-color: #fff;
  top: 72px;
  min-width: 120px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(182, 182, 182, 0.399);
  padding: 20px 40px;
  overflow: hidden;
  display: none;
  left: 0px;
}
.submenu-item_title {
  font-weight: 600;
  margin-bottom: 10px;
  width: auto;
  font-size: 15px;
}
.submenu-item {
  cursor: pointer;
  padding: 7px 0;
}

.submenu-item:hover {
  background-color: #d7d7d77d;
}

.header-controls {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.control-login {
  display: flex;
  align-items: center;
  border: 0;
  padding: 8px 15px;
  border-radius: 5px;
  gap: 0 5px;
}

.control-login img {
  width: 25px;
}

.control-taskuser {
  display: flex;
  align-items: center;
  gap: 0 5px;
  position: relative;
  padding: 10px 0;
  height: 70px;
}
.control-taskuser_on {
  display: flex;
  align-items: center;
  gap: 0 5px;
  position: relative;
  padding: 10px 0;
  height: 70px;
  display: none;
}
.control-taskuser_on:hover > .taskuser-detail {
  display: flex;
}

.control-taskuser:hover > .taskuser-detail {
  display: flex;
}

.taskuser-detail {
  position: absolute;
  top: 70px;
  z-index: 20;
  flex-direction: column;
  width: 130px;
  box-shadow: 0 0 8px rgba(78, 78, 79, 0.21);
  display: none;
}
.taskuser-detail button {
  background-color: #fff;
  border: 0px;
  padding: 5px;
  cursor: pointer;
}
.taskuser-detail button:hover {
  background-color: #c0c0c0;
}

.taskuser-img {
  width: 20px;
}
.taskuser-avt {
  width: 30px;
  border-radius: 50px;
  border: 1px solid black;
}
/* end header */

/*START---------------------------------------------------------------------------------------FOOTER */
footer {
  height: auto;
  /* background-color: rgb(233, 236, 240); */
  padding-top: 52px;
  padding-bottom: 20px;
}
.duongline {
  margin: 0 auto;
  width: 95%;
  position: absolute;
  margin-top: -56px;
  left: 0;
  background: rgb(20, 100, 244);
  background: radial-gradient(
    circle,
    rgba(20, 100, 244, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 10px;
  right: 0;
  clip-path: ellipse(50% 20% at 50% 50%);
}

.footer-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;

  margin-top: 20px;
  margin-bottom: 25px;
}
.footer-logo {
  width: calc(12% - 30px);
  height: auto;
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.thongtin-vinfasts {
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  justify-content: space-between;
}
.thongtin-vinfast {
  width: calc(35% - 30px);
  margin-left: 30px;
}
.thongtin-vinfast ul > li > a {
  margin-top: 20px;
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.thongtin-vinfast ul > h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
  color: rgb(60, 60, 60);
}
.thongtin-vinfast ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.thongtin-vinfast ul > li > h3 {
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  color: rgb(60, 60, 60);
}
.dambaothuonghieu {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500px;
  color: rgb(60, 60, 60);
}
.list-quydinh {
  width: calc(25% - 30px);
  margin-left: 30px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.list-quydinh ul > li {
  margin-bottom: 18px;
}
.list-quydinh ul > li > a {
  color: rgb(60, 60, 60);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.lienhehotro {
  width: calc(25% - 30px);

  margin-right: 30px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.lienhehotro ul > li {
  margin-bottom: 20px;
}
.lienhehotro ul > li > a {
  text-decoration: none;
  color: rgb(60, 60, 60);
}

.lienhehotro ul > li > a > span {
  text-decoration: none;
  color: rgb(20, 100, 244);
  margin-left: 5px;
  font-weight: 500;
}

/* end footer */

/* index main */
main {
  padding-top: 30px;
  margin: 0 auto;
  width: 90%;
}
.filters {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  border: 0.5px solid rgba(126, 126, 126, 0.404);
  border-radius: 10px;
}
.filter-row {
  align-items: center;
  margin-bottom: 8px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 550;
}

.filter-title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 15px;
}
.slider {
  overflow: hidden;
  height: 710px;
  width: 100%;
}
.slider-img {
  height: auto;
  width: 100%;
}
#carouselExampleIndicators {
  height: 710px;
}

.filter-sub {
  margin-bottom: 10px;
  font-weight: 500;
}
/* <!-- start list card car --> */
.listCar {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}
.timkiems {
  width: 100%;
  height: 50px;
  border: 0.7px solid rgba(79, 77, 77, 0.677);
  border-radius: 10px;
  padding: 6px;
  display: flex;
  margin-bottom: 20px;

  align-items: center;
}
#edt_timkiem_trangchu_muaxe {
  margin-left: 5px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: 0px;
}
#edt_timkiem_trangchu_muaxe:focus {
  outline: none;
}
.index-abs_toptimkiem {
  border-radius: 10px;
  overflow: hidden;

  width: 100%;
  max-height: 140px;
  display: flex;
}
.abs_toptimkiem-khung {
  border-radius: 10px;

  height: 140px;
  width: 100%;
}
.abs_toptimkiem-khung img {
  height: 100%;
  width: 100%;
}
/* <!-- end list card car --> */

/* START--------------------------------------------------------------------------------Tin tức */

.card {
  overflow: hidden;
  background-color: #fff;
  letter-spacing: -0.02em;
}
.khunganh {
  width: 100%;
  height: 225px;
  overflow: hidden;
}
.card-image {
  transition: transform 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}
.card .card-image:hover {
  transform: scale(1.07);
}
.card-post .card-title {
  padding: 20px;
}
.card-content {
  padding-top: 20px;
}
.card-title {
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: 300;
  padding: 0 10px;
}

.card-title a {
  text-decoration: none;
  color: #050609;
}
.card-title a:hover {
  color: rgb(69, 100, 193);
}
.card-post {
  width: 100%;
  height: 42px;
  font-size: 14px;
  overflow: hidden;
  font-weight: 300;
  line-height: 21px;
  padding: 0 10px;
}
.card-post p {
  margin: 0;
  padding: 0;
  color: rgba(2, 1, 1, 0.7);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-footer {
  color: rgba(2, 1, 1, 0.5);
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.card-user {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 12px;
}

.card-user a {
  text-decoration: none;
  color: rgba(2, 1, 1, 0.5);
  display: flex;
  min-width: 100px;
}
.card-user a > p {
  margin-top: 9px;
  margin-left: 7px;
  color: rgb(112, 112, 112);
  font-size: 12px;
  font-weight: 600;
  margin-right: 7px;
  width: 100%;
}
.card-user img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.card-time {
  font-size: 12px;
  margin-right: 20px;
}
.card-comment {
  font-size: 12px;

  display: flex;
  align-items: center;
}
.card-comment img {
  width: 15px;
}
.card-comment span {
  padding-left: 5px;
}

.news {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}
.news-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* END--------------------------------------------------------------------------------tin tức */

/* CSS TRANG DETAIL */
.detail_product {
  border: 0.5px solid rgba(29, 39, 68, 0.459);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  margin-bottom: 30px;
}
.pro-title {
  font-size: 25px;
  font-weight: 550;
}
.pro-price {
  font-size: 30px;
  font-weight: 600;
  color: rgb(248, 67, 67);
}
.pro-date,
.pro-brand {
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.pro-color {
  border-radius: 10px;
  width: 30px;
  height: 30px;

  margin-left: 10px;
}
.white-bc {
  border: #272b376f 1px solid;
}
.pro-version button {
  background-color: #fefefe;
  border-radius: 5px;
  border: 0.8px solid rgb(71, 71, 71);
  margin-right: 5px;
}
.pro-version button:hover {
  background-color: #e2e1e1;
}
.pro-control {
  white-space: nowrap;
}
.pro-control button img {
  width: 25px;
}

.pro-control button {
  border-radius: 8px;
  padding: 8px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
}
.pro-btn {
  padding: 0;
  margin-left: 10px;
}

.pro-btn_contact,
.pro-btn_cart {
  background-color: #fff;
  border: 1px solid rgb(49, 64, 111);
}

.pro-btn_buy {
  background-color: rgb(91, 116, 190);
  border: 0;
  color: #ffffff;
}
.specifications {
  padding: 0;
}
.spec-title {
  margin: 60px 0 20px 0;
  font-weight: 600;
  font-size: 20px;
}

.spec-table {
  border: 1px solid rgb(49, 64, 111);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
.spec-table th {
  color: rgb(49, 64, 111);
}
.product__details__tab__desc {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.product__details__tab__desc p {
  margin: 0;
}

/* ---------START LIST TOP CAR  */
.listTopCar {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}

.topCars {
  display: flex;
}

.topCar {
  margin-right: 10px;
}
.topCar .card_product {
  margin-bottom: 0px;
  margin-top: 0px;
}

.slider-nav {
  gap: 10px;
}
/* ---------END LIST TOP CAR  */
